# Built on the fly version.go file
/version.go

# Build artifacts
/mendel-go
#mendel-go-*.*.*
/vendor/

# User input and output files
/user/

# Test files
/test/output/

# Performance profiling output
/pprof/

# Intellij files
/.idea/
/mendel-go.iml
/projectFilesBackup/

# Mac Finder file
.DS_Store

# VSCode editor
/.vscode/
