# Note: we do not start any of these file/dir names with /, so we can also use this file in the package build in:
#   tar -X .gitignore

# Build artifacts
mendel-go
mendel-go-*.*.*
vendor/

# User input files
user/input/

# Test files
test/output/

# Performance profiling output
pprof/

# Intellij files
.idea/
mendel-go.iml
projectFilesBackup/
